type-mapping/xml2java/metadata/Xml2Java.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://uniba.de/dsg/soa/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://uniba.de/dsg/soa/" name="Java2XmlService">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://uniba.de/dsg/soa/" schemaLocation="Xml2Java.xsd"/>
		</xsd:schema>
	</types>
	
	<message name="getDuration">
		<part name="parameters" element="tns:getDuration"/>
	</message>
	<message name="getDurationResponse">
		<part name="parameters" element="tns:getDurationResponse"/>
	</message>
	
	<message name="getDateTime">
		<part name="parameters" element="tns:getDateTime"/>
	</message>
	<message name="getDateTimeResponse">
		<part name="parameters" element="tns:getDateTimeResponse"/>
	</message>
	
	<message name="getCollection">
		<part name="parameters" element="tns:getCollection"/>
	</message>
	<message name="getCollectionResponse">
		<part name="parameters" element="tns:getCollectionResponse"/>
	</message>
	
	<message name="getEnumeration">
		<part name="parameters" element="tns:getEnumeration"/>
	</message>
	<message name="getEnumerationResponse">
		<part name="parameters" element="tns:getEnumerationResponse"/>
	</message>

	<message name="getMap">
		<part name="parameters" element="tns:getMap"/>
	</message>
	<message name="getMapResponse">
		<part name="parameters" element="tns:getMapResponse"/>
	</message>
	
	<portType name="Xml2Java">
		<operation name="getDuration">
			<input wsam:Action="http://uniba.de/dsg/soa/Java2Xml/getDurationRequest" message="tns:getDuration"/>
			<output wsam:Action="http://uniba.de/dsg/soa/Java2Xml/getDurationResponse" message="tns:getDurationResponse"/>
		</operation>
		
		<operation name="getDateTime">
			<input wsam:Action="http://uniba.de/dsg/soa/Java2Xml/getDateTimeRequest" message="tns:getDateTime"/>
			<output wsam:Action="http://uniba.de/dsg/soa/Java2Xml/getDateTimeResponse" message="tns:getDateTimeResponse"/>
		</operation>
		
		<operation name="getCollection">
			<input wsam:Action="http://uniba.de/dsg/soa/Java2Xml/getCollectionRequest" message="tns:getCollection"/>
			<output wsam:Action="http://uniba.de/dsg/soa/Java2Xml/getCollectionResponse" message="tns:getCollectionResponse"/>
		</operation>
		
		<operation name="getEnumeration">
			<input wsam:Action="http://uniba.de/dsg/soa/Java2Xml/getEnumerationRequest" message="tns:getEnumeration"/>
			<output wsam:Action="http://uniba.de/dsg/soa/Java2Xml/getEnumerationResponse" message="tns:getEnumerationResponse"/>
		</operation>
		
		<operation name="getMap">
			<input wsam:Action="http://uniba.de/dsg/soa/Java2Xml/getMapRequest" message="tns:getMap"/>
			<output wsam:Action="http://uniba.de/dsg/soa/Java2Xml/getMapResponse" message="tns:getMapResponse"/>
		</operation>
	</portType>

	<binding name="Xml2JavaPortBinding" type="tns:Xml2Java">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="getDuration">
			<soap:operation soapAction=""/>
			<input><soap:body use="literal"/></input>
			<output><soap:body use="literal"/></output>
		</operation>
		
		<operation name="getDateTime">
			<soap:operation soapAction=""/>
			<input><soap:body use="literal"/></input>
			<output><soap:body use="literal"/></output>
		</operation>
		
		<operation name="getCollection">
			<soap:operation soapAction=""/>
			<input><soap:body use="literal"/></input>
			<output><soap:body use="literal"/></output>
		</operation>
		
		<operation name="getEnumeration">
			<soap:operation soapAction=""/>
			<input><soap:body use="literal"/></input>
			<output><soap:body use="literal"/></output>
		</operation>

		<operation name="getMap">
			<soap:operation soapAction=""/>
			<input><soap:body use="literal"/></input>
			<output><soap:body use="literal"/></output>
		</operation>
	</binding>

	<service name="Xml2JavaService">
		<port name="Xml2JavaPort" binding="tns:Xml2JavaPortBinding">
			<soap:address location="http://localhost:8080/xml2java/Xml2JavaService"/>
		</port>
	</service>
</definitions>