ws-client/plain-style/src/main/resources/historyservice.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. -->
<xs:schema xmlns:tns="http://uniba.de/dsg/jaxws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
           targetNamespace="http://uniba.de/dsg/jaxws/">

    <xs:element name="Chancellor" type="tns:chancellor"/>

    <xs:element name="getChancellors" type="tns:getChancellors"/>

    <xs:element name="getChancellorsResponse" type="tns:getChancellorsResponse"/>

    <xs:complexType name="getChancellors">
        <xs:sequence>
            <xs:element name="from" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="to" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getChancellorsResponse">
        <xs:sequence>
            <xs:element name="chancellor" type="tns:chancellor" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="chancellor">
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
            <xs:element name="party" type="xs:string" minOccurs="0"/>
            <xs:element name="from" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="to" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>